{% extends "base.html" %}
{% block content %}
    <div class="container-fluid py-3">
        <h4 class="neonblue"><u>What is AAA testing?</u></h4>️ ️
        <p><strong>AAA Testing,</strong> also known as <strong> Arrange-Act-Assert,</strong>is a great way to
            structure test cases. It describes the order of operations that need to be performed to write a good
            test.
            AAA Testing represents a recognizable test template following the A-A-A pattern of testing. The
            pattern focuses each test on a single action. By applying AAA, you can ensure that your test is
            clear and more understandable and manageable. </p>
        <p>For more information on AAA Testing, please read the article <a
                href="https://automationpanda.com/2020/07/07/arrange-act-assert-a-pattern-for-writing-good-tests/"
                target="_blank"> <i>Arrange-Act-Assert</i></a></p>
        <div class="row align items">
            <div class="col-8">
                <h5 class="neonblue">Arrange</h5>
                This is the first step of a unit test application. Here we will arrange the test, in other words we will
                do the necessary setup of the test. For example, to perform the test we need to create an object of the
                targeted class, if necessary, then we need to create mock objects and other variable initialization,
                something like this.
                <h5 class="neonblue">Act</h5>
                This is the middle step of a unit step application. In this step we will execute the test. In other
                words we will do the actual unit testing and the result will be obtained from the test application.
                Basically we will call the targeted function in this step using the object that we created in the
                previous step.
                <h5 class="neonblue">Assert</h5>
                This is the last step of a unit test application. In this step we will check and verify the returned
                result with expected results.
            </div>
            <div class="col-4"><img src="{{ url_for('static', filename='images/aaa2.png') }}"
                                    class="img-fluid"
                                    alt="aaa">
            </div>
        </div>
    </div>

    <div class="row align items">
        <div class="col-8">
            <h4 class="neonblue"><u>Why is testing important???</u></h4>
                    Goal of python testing is to detect as many bugs and inconsistencies in the infancy of the
                    application development as possible. As software scales in codebase size, it's impossible for a
                    person or even a large team to keep up with all of the changes and the interactions between the
                    changes. This is achieved by designing and scripting accurate and quality unit tests that can also
                    serve as detailed documentation for the development process. This ensures that bugs and other problems
                    we catch in the first stages of the development, can be fixed by the development team.Automated
                    testing is the only proven method for building reliable software once they grow past the point of a
                    simple prototype. Many major software program development failures can be traced back to inadequate
                    or a complete lack of testing. It's impossible to know whether software works properly unless it is
                    tested. While testing can be done manually, by a user clicking buttons or typing in input, it should
                    be performed automatically by writing software programs that test the application under test.
                    There are many forms of testing and they should all be used together. When a single function
                    of a program is isolated for testing, that is called unit testing. Testing more than a
                    single function in an application at the same time is known as integration testing. User interface
                    testing ensures the correctness of how a user would interact with the software.
                </div>
                <div class="col-4"><img src="{{ url_for('static', filename='images/aaa3.png') }}"
                                        class="img-fluid"
                                        alt="aaa">
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid py-3">
    <h5>Resources:</h5>
        <ol>
            <li>
                <a href="https://www.c-sharpcorner.com/UploadFile/dacca2/fundamental-of-unit-testing-understand-aaa-in-unit-testing/"
                   class="card-link darkgrey" target="_blank">AAA patern</a>
            </li>
            <li>
                <a href="https://jamescooke.info/arrange-act-assert-pattern-for-python-developers.html"
                   class="card-link darkgrey" target="_blank">AAA Explained</a>
            </li>
        </ol>

        </p>
        </div>
    </div>
{% endblock %}